@using CtfLand.DataLayer.Models
@model CtfLand.Service.Models.ParksListViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Новые парки";
}

<h2 class="title">Новые парки</h2>
@if (!Model.Parks.Any())
{
    <p>Ни один парк еще не добавлен. <a asp-action="Create">Станьте</a> первым!</p>
}
else
{
    <p id="parks-counter">Всего парков: @Model.Parks.Count</p>
}
@foreach (var park in Model.Parks)
{
    <section class="park-list-item">
        <h3><a asp-action="Get" asp-route-parkId=@park.Id>@park.Name</a></h3>
        <p class="park-owner">Владелец: <a asp-controller="Auth" asp-action="Profile" asp-route-id=@park.Owner.Id>
            @park.Owner.Login
        </a></p>
        <p class="attractions-counter">Количество аттракционов: @(park.Attractions?.Count ?? 0)</p>
        <ul class="attractions">
            @foreach (var attraction in park.Attractions ?? new List<Attraction>())
            {
                <li><i>@attraction.Name</i> <span>(@attraction.Cost руб.)</span></li>
            }
        </ul>
        <p class="park-max-visitors">Максимальное количество посетителей: @park.MaxVisitorsCount</p>
    </section>
}